Chatbot-using-Rag-improve-LLM.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2160,
        540
      ],
      "id": "b5dbea90-3aa6-4409-9285-3324b451a81b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "nYgZ728d7dqogr23",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1640,
        780
      ],
      "id": "73960b6f-609d-4691-ac91-87e4aec1c8b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1420,
        780
      ],
      "id": "3e5589ee-48c3-4edc-b8d7-e6cfab52829c",
      "name": "When chat message received",
      "webhookId": "b1640688-8609-4bdf-af55-8789161dde43"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        1020
      ],
      "id": "599958fd-bd6a-4435-9e85-6aa7560908e7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SQ1KUg5jFCkQuUkZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1640,
        1040
      ],
      "id": "92e06a21-8048-49fb-a0dc-3a8955e27678",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2180,
        760
      ],
      "id": "0ede8247-64cc-480a-851c-30e516574954",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SQ1KUg5jFCkQuUkZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2300,
        760
      ],
      "id": "32e0876d-8171-4070-807a-4fae98f0567e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BltR-88KP0JbCaYPwL-hbq0MEC4cVpKG",
          "mode": "list",
          "cachedResultName": "n8n-tqd",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BltR-88KP0JbCaYPwL-hbq0MEC4cVpKG"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1500,
        540
      ],
      "id": "000c121d-4496-45d7-80c3-21384922c40e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KnFEqbke8UfZdei8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1940,
        540
      ],
      "id": "1147c175-86c0-4b1f-a9e8-f95afe8d0eeb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1720,
        540
      ],
      "id": "fd82936a-a8cd-420b-af2f-ef7e5221bee9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KnFEqbke8UfZdei8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Lấy thông tin về luật giao thông 2024",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1860,
        1060
      ],
      "id": "d2cddfeb-59da-4c43-9c17-b624befdc89f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "nYgZ728d7dqogr23",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        1260
      ],
      "id": "53ebe050-d70e-4df7-89f8-487b1d2ed12c",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "SQ1KUg5jFCkQuUkZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "764f98b1-f8b6-498c-94fe-b8e55d95c167",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cca21cc000d0521b88b62f9edc1caad4fcdf5fc47c1480a3b64a60e4f2958c6a"
  },
  "id": "mqtpQcP1ZB5eAq9g",
  "tags": []
}